<!-- TODO: PLACE INTO SHARED COMPONENT -->
<div class="page-section">
  <h5>{{ 'ADMIN_USER.CLIENT_LIST' | translate }}</h5>
</div>

<form #addUsersInList="ngForm"
      name="addUsersInList"
      (submit)="submitForm($event)"
      class="col-md-12"
      novalidate>
  <section class="form-inline mb-4">
    <section class="form-group">
      <button class="btn btn-primary btn-sm mr-2" (click)="addOrganisation($event)"><fa name="plus"></fa> Add Client</button>
      <button class="btn btn-primary btn-sm mr-2" (click)="deleteOrganisation($event)"><fa name="unlock"></fa> Enable</button>
      <button class="btn btn-primary btn-sm"><fa name="lock"></fa> Disable</button>
    </section>
  </section>
</form>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="companyname">
    <th mat-header-cell *matHeaderCellDef> Company Name </th>   <!--   /admin/users/{element.user} -->
    <td mat-cell *matCellDef="let element"><a [routerLink]="['/admin/users/']">{{element.companyname}}</a> </td>
  </ng-container>

  <ng-container matColumnDef="contactname">
    <th mat-header-cell *matHeaderCellDef> Contact </th>   <!--   /admin/users/{element.user} -->
    <td mat-cell *matCellDef="let element"><a [routerLink]="['/admin/users/']">{{element.firstname}} {{element.lastname}}</a> </td>
  </ng-container>

  <ng-container matColumnDef="telephone1">
    <th mat-header-cell *matHeaderCellDef> Telephone </th>   <!--   /admin/users/{element.user} -->
    <td mat-cell *matCellDef="let element"><a [routerLink]="['/admin/users/']">{{element.telephone1}} {{element.telephone2}}</a> </td>
  </ng-container>

  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef> Active </th>   <!--   /admin/users/{element.user} -->
    <td mat-cell *matCellDef="let element">{{element.active}} </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> city </th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container>

  <ng-container matColumnDef="postalcode">
    <th mat-header-cell *matHeaderCellDef> Postal code </th>
    <td mat-cell *matCellDef="let element"> {{element.postalcode}} </td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef> Country </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <!-- data-portal-user-id="{{element.idmcrportalcustomeruser}}" data-company-name="{{element.companyname}}" -->
    <td mat-cell *matCellDef="let element">
      <fa class="btn-actions mr-2" name="unlock"></fa>
      <fa class="btn-actions" name="pencil"></fa>
      <!-- {{element.actions}} -->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
