.page-section {
  h5 {
    margin-bottom: 25px;
  }
}

table {
  width: 100%;
  .btn-actions {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  i {
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #000;
  }
  tr {
    &.mat-row:hover,
    &.mat-row:active
    {
      background: #b4b7da38;
    }
  }
}
