form {
  .form-control.form-control-custom,
  .form-group {
    margin-bottom: 0;
  }

  a {
    font-size: 0.7em;
    color: #fff;
    margin: 0 5px 0 0;
  }

  .example-text {
    font-size: 0.7em;
    display: block;
  }
}
