<form
  #loginForm="ngForm"
  name="loginForm"
  class="login-form-header"
  (submit)="submitForm($event)"
  novalidate>
  <div class="form-group row">
    <input
      #user="ngModel"
      [(ngModel)]="loginModel.user"
      class="form-control form-control-sm form-control-custom col-4 mr-2 mt-2 mb-2"
      type="text"
      name="user"
      placeholder="Username"
      pattern="[^A-Za-z0-9-_ ]*"
      required />
    <!--
    <div *ngIf="user.invalid && user.touched" class="alert alert-danger">Username is required <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.</div>
   -->
    <input
      #password="ngModel"
      [(ngModel)]="loginModel.password"
      class="form-control form-control-sm form-control-custom col-4 mr-2 mt-2 mr-1 mb-2"
      type="password"
      name="password"
      placeholder="Password"
      pattern="[^A-Za-z0-9#@-_ ]*"
      required />
    <!--
    <div *ngIf="password.invalid && password.touched" class="alert alert-danger">Password is required <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.</div>
    -->
    <button class="btn btn-primary btn-sm mt-2 mb-2 mt-2">Login</button>
  </div>
  <div class="row">
    <a class="forgotten" [routerLink]="['/login-restore']">Forgotten password?</a>
  </div>
</form>
