<app-add-users-modal (clientUserEvent)="submitModal($event)" #appAddUserModal></app-add-users-modal>

<!-- TODO: PLACE INTO SHARED COMPONENT -->
<div class="page-section">
  <h5>{{ 'ADMIN_USER.ADD_USERS_FOR_CLIENT_NAME' | translate:dataModel }}</h5>
</div>

<form #addUsersInList="ngForm"
      name="addUsersInList"
      (submit)="submitForm($event)"
      novalidate>
  <section class="form-inline mb-4">
    <section class="form-group">
      <button class="btn btn-primary btn-sm mr-2" (click)="appAddUserModal.addUser($event)"><fa name="plus"></fa> Add User</button>
      <button class="btn btn-primary btn-sm mr-2" (click)="appAddUserModal.editUser($event)"><fa name="pencil"></fa> Edit User</button>
      <button class="btn btn-primary btn-sm mr-2" (click)="appAddUserModal.deleteUser($event)"><fa name="unlock"></fa> Enable</button>
      <button class="btn btn-primary btn-sm" (click)="appAddUserModal.deleteUser($event)"><fa name="lock"></fa> Disable</button>
    </section>
  </section>
</form>

<!--
FILTER FORM TO FORM TO FINISH
<form #addUsersInList="ngForm"
      name="addUsersInList"
      (submit)="submitForm($event)"
      class="col-md-12"
      novalidate>
  <section class="form-inline">
    <section class="form-group">
        <div class="mr-2">Search</div>
        <input type="text" class="form-control form-control-sm mr-4" name="search" id="search" placeholder="search">
    </section>

    <section class="form-group">
        <div class="ml-4 mr-2">Filter By</div>
        <select
          class="form-control form-control-sm mr-sm-2"
          #userType
          name="userType"
          (blur)="validateSelectedService(userType.value)"
          (change)="validateSelectedService(userType.value)"
          [(ngModel)]="dataModel.userType"
          id="userType">
          <option *ngFor="let accessLevel of listOfUserTypes" [value]="getValue(accessLevel.permission)">{{accessLevel.permission}}</option>
        </select>
    </section>

    <section class="form-group">
        <button class="btn btn-primary btn-sm mr-4"(onchange)="filterBy()">Filter</button>
        <button class="btn btn-primary btn-sm" (click)="appAddUserModal.open()">Add User</button>
     </section>
  </section>
  <hr />
</form>
-->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef> User </th>   <!--   /admin/users/{element.user} -->
    <td mat-cell *matCellDef="let element"><a [routerLink]="['/admin/users/']">{{element.user}}</a> </td>
  </ng-container>

  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef> Active </th>   <!--   /admin/users/{element.user} -->
    <td mat-cell *matCellDef="let element">{{element.active}} </td>
  </ng-container>


  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
  </ng-container>


  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> Surname </th>
    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Role </th>
    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element">
      <fa class="btn-actions mr-3" name="unlock"></fa>
      <fa class="btn-actions" name="pencil"></fa>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
