form {
  min-width: 200px;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  label {
    margin-bottom: -5px;
  }

  .alert {
    &.alert-danger {
      font-size: 0.78em;
    }
  }

  .footer {
    a{
      &.forgotten {
        font-size: 0.7em;
      }
    }
  }
}
