<section class="container">
  <form #loginFormLandingPage="ngForm"
        name="loginFormLandingPage"
        (submit)="submitForm($event)"
        novalidate>
    <div>
      <h5>User Login</h5>
    </div>
    <div *ngIf="loginError" class="alert alert-warning" role="alert">
      Login could not be authenticated.
    </div>
    <div class="form-group input-lg">
      <label class="col-form-label">Insert username</label>
      <input #user="ngModel"
             [(ngModel)]="loginModel.user"
             class="form-control form-control-lg"
             type="text"
             name="user"
             placeholder="Insert username"
             pattern="[^A-Za-z0-9-_ ]*"
             required />
       <div *ngIf="user.invalid && user.touched" class="alert alert-danger">Username is required <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.</div>
    </div>

    <div class="form-group input-lg">
      <label class="col-form-label">Insert password</label>
      <input
        #password="ngModel"
        [(ngModel)]="loginModel.password"
        class="form-control form-control-lg"
        type="password"
        name="password"
        pattern="[^A-Za-z0-9#@-_ ]*"
        required />
      <div *ngIf="password.invalid && password.touched" class="alert alert-danger">Password is required <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.</div>
    </div>

    <div class="footer">
      <button class="btn btn-primary btn-lg btn-block">Login</button>
      <!-- [disabled]="resetLogin.invalid" -->
      <a class="forgotten" [routerLink]="['/login-restore']">Forgotten password?</a>
    </div>
  </form>
</section>
