<header>
  <nav *ngIf ="isLoggedIn" class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="#">AB Barcelona</a>
    <div class="sidebar-toggle"></div>
    <button (click)="collapseHamburgerMenu($event)" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
          <!-- active -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/dashboard']">dashboard <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown" (click)="toggleMenu($event)">
          <span class="nav-link dropdown-header dropdown-toggle"  id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</span>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" [routerLink]="['/admin/organisations']">List Clients</a>
            <a class="dropdown-item" [routerLink]="['/admin/user']">Add Client</a>
            <a class="dropdown-item" [routerLink]="['/admin/user/markwebley/add-users']">Add Users to Clients</a>
            <a class="dropdown-item" [routerLink]="['/admin/family']">Look Ups</a>
            <a class="dropdown-item" [routerLink]="['/login']">Login / Logout</a>
            <a class="dropdown-item" [routerLink]="['/login-restore']">restore login</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/configurator']">configurator</a>
        </li>
      </ul>
      <!--
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search">
      </form>
      -->
    </div>
  </nav>
</header>




