header {
  // margin-bottom: 25px;
  background: #696eb5;
  nav {
     padding-top: 0;
     padding-bottom: 0;
  }
  .sidebar-toggle {
    display: none;
    width: 25px;
    background: black;
    height: 25px;
    margin-right: 5px;
  }
  .login {
    list-style: none;
  }

  .dropdown-header {
    cursor: pointer;
  }

  li {
    &.show {
      background: #c8cbf9;
    }
  }

  button {
    padding: 3px 8px;
    margin: 8px 0 8px 8px;
    .navbar-toggler-icon {

    }
  }

  .dropdown-menu.show {
    border-radius: 0;
    padding: 0;
    top: 38px;
    border-top: #c8cbf9 3px solid;
    border-bottom: #c8cbf9 2px solid;
    border-left: #c8cbf9 1px solid;
    border-right: #c8cbf9 1px solid;
    color: #696eb5;
    a {
      color: #696eb5;
      padding-left: 7px;
    }
    .dropdown-item:hover,
    .dropdown-item:focus {
      color: #fff;
      background-color: #c8cbf9;
    }
  }
}

/*
header {
  min-height: 65px;
  background: #696eb5;
  ul {
    padding: 0;
    li {
      display: inline-block;
    }

  }
}
*/

@media (max-width: 767px) {
  nav {
    padding-left: 0;
    padding-right: 0;
    button {
      margin-right: 7px;
    }
    .dropdown-menu.show {
      a {
        &.dropdown-item {
          margin-left: 0;
          padding-left: 14px;
        }
      }
    }
    a {
      &.nav-link,
      &.navbar-brand {
        padding-left: 7px;
      }

    }

  }
}


