<p>
  dashboard works!
</p>
<section class="dashboard">
  <div class="row">
    <div class="col-sm mb-1">
      <h6>Add / Edit / update  SMB  / PYMES</h6>
      <a class="forgotten" [routerLink]="['/companies']">PYMES</a>
    </div>
    <div class="col-sm mb-1">
      <h6>Add / Edit / update  clients / clients</h6>
      <a class="forgotten" [routerLink]="['/clients']">sss</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm mb-1">
      <h6>Add / Edit / update  types / tipos</h6>
      <a class="forgotten" [routerLink]="['/types']">Articles</a>
    </div>

    <div class="col-sm mb-1">
      <h6>Add / Edit / update  series</h6>
      <a class="forgotten" [routerLink]="['/series']">ssss</a>
    </div>

  </div>



  <div class="row">
    <div class="col-sm mb-1">
      <h6>Add / Edit / update  family / familia</h6>
      <a class="forgotten" [routerLink]="['/family']">ssss</a>
    </div>

    <div class="col-sm mb-1">
      <h6>Add / Edit / update prices/precios</h6>
      <a class="forgotten" [routerLink]="['/prices']">ssss</a>
    </div>

    <div class="col6">
    </div>




  </div>
</section>
