<section class="container">
    <form #forgottenLogin="ngForm"
          name="forgottenLogin"
          (submit)="submitForm($event)"
          novalidate>
      <h5>Restore login</h5>
      <div *ngIf="sentCompletedSuccessfully && !restoreLoginError">
        Reset link has been sent to your email,
        check your spam email also if you do not a reset email from us.
      </div>
      <div *ngIf="restoreLoginError" class="alert alert-warning" role="alert">
        Login could not be changed please try later.
      </div>
        <div *ngIf="!sentCompletedSuccessfully && !restoreLoginError">
          <label class="col-form-label">Insert email</label>
          <input #email="ngModel"
                 [(ngModel)]="dataModel.email"
                 class="form-control form-control-lg mb-1"
                 type="text"
                 name="email"
                 placeholder="Email"
                 minlength="6"
                 pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z]+$"
                 required />
          <div *ngIf="email.invalid && email.touched" class="alert alert-danger">Valid email is required.</div>
          <button [disabled]="forgottenLogin.invalid" class="btn btn-primary btn-lg btn-block">Restore Password</button>
        </div>
    </form>
</section>
