.tab-pane {
  padding-top: 25px;
  h5 {
    margin-bottom: 25px;
  }
}

h6 {
  &.row {
    margin-left: 0;
    margin-right: 0;
  }
}

footer {
  position: fixed;
  bottom: 0;
  background: #696eb5;
  width: 100%;
  padding: 7px;
  margin: 0;
  left: 0;
  button {
    border: solid 2px #fff;
  }

  /** Temp styles only **/
  .btn-outline-secondary
  {
    color: #fff;
  }
}
