<section>
  <!-- <h6>Manage Users (PYME/SME)</h6> -->
  <ul (click)="toggle($event)" class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="home" aria-selected="true">Client Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Client Profile</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <!-- TODO: AS SEPERATE VIEW COMPONENTS -->
    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="home-tab">
      <h5>Client Details</h5>

        <section class="row">

          <section class="col-md">
            <h6 class="form-group row">Client Information</h6>
            <section class="form-group row">
              <div for="text1" class="col-sm-5 col-form-label">Text label data</div>
              <div class="col-sm-7">
                Test data value
              </div>
            </section>

            <section class="form-group row">
              <div for="text2" class="col-sm-5 col-form-label">Text label data</div>
              <div class="col-sm-7">
                Test data value
              </div>
            </section>

            <section class="form-group row">
              <div for="text2" class="col-sm-5 col-form-label">Text label data</div>
              <div class="col-sm-7">
                Test data value
              </div>
            </section>

            <section class="form-group row">
              <div for="text2" class="col-sm-5 col-form-label">Text label data</div>
              <div class="col-sm-7">
                Test data value
              </div>
            </section>
          </section>

          <section class="col-md">
            <h6 class="form-group row">Subtitle / subtitulo 2</h6>
            <section class="form-group row">
              <div for="text1" class="col-sm-5 col-form-label">Text label data</div>
              <div class="col-sm-7">
                Test data value
              </div>
            </section>

            <section class="form-group row">
              <div for="text2" class="col-sm-5 col-form-label">Text label data</div>
              <div class="col-sm-7">
                Test data value
              </div>
            </section>
          </section>
        </section>

        <section class="row">

          <section class="col-md">
            <h6 class="form-group row">Subtitle / subtitulo 2</h6>
            <section class="form-group row">
              <div for="text1" class="col-sm-5 col-form-label">Text label data</div>
              <div class="col-sm-7">
                Test data value
              </div>
            </section>

            <section class="form-group row">
              <div for="text2" class="col-sm-5 col-form-label">Text label data</div>
              <div class="col-sm-7">
                Test data value
              </div>
            </section>
          </section>

          <section class="col-md">
            <h6 class="form-group row">Account Information</h6>
            <section class="form-group row">
              <div for="text1" class="col-sm-5 col-form-label">Text label data</div>
              <div class="col-sm-7">
                Test data value
              </div>
            </section>

            <section class="form-group row">
              <div for="text2" class="col-sm-5 col-form-label">Text label data</div>
              <div class="col-sm-7">
                Test data value
              </div>
            </section>
          </section>
        </section>

    </div>

    <!-- TODO: AS SEPERATE VIEW COMPONENTS -->
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <h5>Tab Title 2</h5>
    </div>

    <!-- TODO: AS SEPERATE VIEW COMPONENTS -->
    <div class="tab-pane fade" id="permissions" role="tabpanel" aria-labelledby="contact-tab">
      <h5>Tab Title 3</h5>
    </div>

    <!-- TODO: AS SEPERATE VIEW COMPONENTS -->
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <h5>Tab Title 4</h5>
    </div>
  </div>

  <footer class="form-group">
    <!--[disabled]="addClientDetails.invalid " -->
    <a (click)="edit($event)" class="btn btn-outline-secondary mr-2">Edit</a>
  </footer>


</section>
