<section class="container">
  <section *ngIf="sentCompletedSuccessfully" class="goto-login">
    Your login has been changed successfully <a class="forgotten" [routerLink]="['/login']">click here</a> to login.
  </section>
  <form #resetLogin="ngForm"
        name="resetLogin"
        (submit)="submitForm($event)"
        novalidate
        *ngIf="!sentCompletedSuccessfully">
    <div>
      <h5>Reset Password</h5>
    </div>
    <div *ngIf="restoreLoginError" class="alert alert-warning" role="alert">
      Login could not be channged please try later.
    </div>
    <div class="form-group input-lg">
      <label class="col-form-label">Insert username</label>
      <input #user="ngModel"
             [(ngModel)]="dataModel.user"
             class="form-control form-control-lg"
             type="text"
             name="user"
             placeholder="Insert username"
             pattern="[^A-Za-z0-9-_ ]*"
             required />
       <div *ngIf="user.invalid && user.touched" class="alert alert-danger">Username is required <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.</div>
    </div>

    <div class="form-group input-lg">
      <label class="col-form-label">Insert new password</label>
      <input
        #password="ngModel"
        [(ngModel)]="dataModel.password"
        class="form-control form-control-lg"
        type="password"
        name="password"
        pattern="[^A-Za-z0-9#@-_ ]*"
        required />
      <div *ngIf="password.invalid && password.touched" class="alert alert-danger">Password is required <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.</div>
    </div>

    <div class="form-group input-lg">
      <label class="col-form-label">Confirm new password</label>
      <input
        #passwordConfirmed="ngModel"
        [(ngModel)]="dataModel.passwordConfirmed"
        class="form-control form-control-lg"
        type="password"
        name="passwordConfirmed"
        pattern="[^A-Za-z0-9#@-_ ]*"
        required />
      <div *ngIf="passwordConfirmed.invalid && passwordConfirmed.touched" class="alert alert-danger">Confirmed Password is required.</div>
    </div>

    <div class="footer"><!-- [disabled]="resetLogin.invalid" -->
      <button class="btn btn-primary btn-lg btn-block">Reset Password</button>
    </div>
  </form>
</section>
