
form {
  .form-control.form-control-custom,
  .form-group {
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    font-size: 0.8em;
    color: #fff;
    margin: 13px 5px 0 4px;
  }

  .example-text {
    font-size: 0.7em;
    display: block;
  }
}
