.sidebar {
  display: none;
  background: #fff;
  opacity: 0.5;
  width: 174px;
  webkit-box-shadow: 2px 10px 30px 0 rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
  box-shadow: 2px 10px 30px 0 rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
  -webkit-transition: width .3s cubic-bezier(0,0,.2,1);
  transition: width .3s cubic-bezier(0,0,.2,1);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  white-space: nowrap;

  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    li {
      &:hover {
        background: #b5b7d8;
      }
      &.active {
        border-right: 5px solid #696eb5;
        background: #b5b7d8;
      }
    }
    a {
      color: #000;
      display: block;
      overflow: hidden;
      padding: 10px 30px 10px 14px;
      margin: 5px 0;
      transition: all .3s linear;
    }
  }
}

.main-content {
  margin-top: 25px;
}

/* TEMP OVERRIDE OF BOOTSTRAP STYLES */
@media (min-width: 992px) {
  .container {
    max-width: fit-content;
  }
}
