<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<section class="container-fluid clear">
  <section class="row">
    <!-- TODO: convert to component when done -->
    <nav class="navbar-header pull-left sidebar">
      <ul class="menu-content">
        <li class="active">
          <a href="#">
            <i></i>
            <span class="menu-title">title</span>
          </a>
        </li>

        <li>
          <a href="#">
            <i></i>
            <span class="menu-title">title</span>
          </a>
        </li>

        <li>
          <a href="#">
            <i></i>
            <span class="menu-title">title</span>
          </a>
        </li>

        <li>
          <a href="#">
            <i></i>
            <span class="menu-title">title</span>
          </a>
        </li>

        <li>
          <a href="#">
            <i></i>
            <span class="menu-title">title</span>
          </a>
        </li>

      </ul>
    </nav>

    <div class="pull-right main-content container-fluid">
      <!-- <app-content></app-content>-->
      <router-outlet></router-outlet>
    </div>
  </section>
</section>
<app-footer></app-footer>


