<section>
  <!-- <h6>Manage Users (PYME/SME)</h6> -->
  <section class="col-md-6">
    <form #addUser="ngForm"
          name="addUser"
          (submit)="submitForm($event)"
          novalidate>
      <div>
        <h6>SPAR FORM - CAN MODIFY AS A REGISTRATION FORM FOR ALUMINIOS BARCELONA AS ADMIN OR OTHER, Add a client for Aluminios Barcelona</h6>
      </div>
      <div *ngIf="loginError" class="alert alert-warning" role="alert">
        Login could not be authenticated.
      </div>

      <div class="form-group">
        <label class="col-form-label">Client Roles / Permissions</label>
        <select
          class="form-control mr-sm-2"
          #userType
          name="userType"
          (blur)="validateSelectedService(userType.value)"
          (change)="validateSelectedService(userType.value)"
          [(ngModel)]="dataModel.userType"
          id="userType">
          <option *ngFor="let accessLevel of listOfUserTypes" [value]="getValue(accessLevel.permission)">{{accessLevel.permission}}</option>
        </select>
        <div *ngIf="hasUserTypeSelectedError" class="col-sm alert alert-danger">User access level, is required.</div>
      </div>

      <div class="form-group input-lg">
        <label class="col-form-label">Client name</label>
        <input #organisationName="ngModel"
               [(ngModel)]="dataModel.organisationName"
               class="form-control form-control-lg"
               type="text"
               name="user"
               placeholder="Name of organisation"
               pattern="[^A-Za-z0-9-_ ]*"
               required />
        <div *ngIf="user.invalid && user.touched" class="alert alert-danger">Organisation name is required.</div>
      </div>

      <div class="form-group input-lg">
        <label class="col-form-label">Username</label>
        <input #user="ngModel"
               [(ngModel)]="dataModel.user"
               class="form-control form-control-lg"
               type="text"
               name="user"
               placeholder="Insert username"
               pattern="[^A-Za-z0-9-_ ]*"
               required />
        <div *ngIf="user.invalid && user.touched" class="alert alert-danger">Username is required <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.</div>
      </div>

      <div class="form-group input-lg">
        <label class="col-form-label">Email</label>
        <input #email="ngModel"
               [(ngModel)]="dataModel.email"
               class="form-control form-control-lg mb-1"
               type="text"
               name="email"
               placeholder="Email"
               minlength="6"
               pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z]+$"
               required />
        <div *ngIf="email.invalid && email.touched" class="alert alert-danger">Valid email is required.</div>
      </div>



      <div class="form-group input-lg">
        <label class="col-form-label">Password</label>
        <input
          #password="ngModel"
          [(ngModel)]="dataModel.password"
          class="form-control form-control-lg"
          type="password"
          name="password"
          pattern="[^A-Za-z0-9#@-_ ]*"
          required />
        <div *ngIf="password.invalid && password.touched" class="alert alert-danger">Password is required <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.</div>
      </div>

      <div class="footer form-group input-lg">
        <!--[disabled]="addClient.invalid " -->
        <button class="btn btn-primary btn-lg btn-block">Save</button>
      </div>
    </form>
  </section>
</section>
