<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{header}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #addUser="ngForm"
          name="addClientUsers"
          class="col-md-12"
          novalidate>
      <section class="row">
        <section class="col-md">
          <section class="form-group row">
            <label for="firstname" class="col-sm-5 col-form-label">First Name</label>
            <div class="col-sm-7">
              <input
                #firstname="ngModel"
                [(ngModel)]="dataModel.firstname"
                type="text" class="form-control form-control-sm" name="firstname" id="firstname" placeholder="insert your first name">
              <!--
              <div *ngIf="firstname.invalid && firstname.touched" class="alert alert-danger">First name is required
                <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.
              </div>
              -->
            </div>
          </section>

          <section class="form-group row">
            <label for="lastname" class="col-sm-5 col-form-label">Last Name</label>
            <div class="col-sm-7">
              <input
                #lastname="ngModel"
                [(ngModel)]="dataModel.lastname"
                type="text" class="form-control form-control-sm" name="lastname" id="lastname" placeholder="insert surname name">
              <!--
              <div *ngIf="user.invalid && user.touched" class="alert alert-danger">Username is required
                <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.
              </div>
              -->
            </div>
          </section>

          <section class="form-group row">
            <label for="email" class="col-sm-5 col-form-label">Email</label>
            <div class="col-sm-7">
              <input
                #email="ngModel"
                [(ngModel)]="dataModel.email"
                type="text" class="form-control defaultUserTypeform-control-sm" name="email" id="email" placeholder="insert email">
              <!--
              <div *ngIf="email.invalid && email.touched" class="alert alert-danger">Username is required
                <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.
              </div>
              -->
            </div>
          </section>

          <section class="form-group row">
            <label for="phonenumber" class="col-sm-5 col-form-label">Phone number</label>
            <div class="col-sm-7">
              <input
                #phonenumber="ngModel"
                [(ngModel)]="dataModel.phonenumber"
                type="text" class="form-control form-control-sm" name="phonenumber" id="phonenumber" placeholder="insert phone number">
              <!--
              <div *ngIf="phonenumber.invalid && phonenumber.touched" class="alert alert-danger">Valid phone number required</div>
              -->
            </div>
          </section>

          <section class="form-group row">
            <label for="user" class="col-sm-5 col-form-label">Username</label>
            <div class="col-sm-7">
              <input
                #user="ngModel"
                [(ngModel)]="dataModel.login"
                type="text" class="form-control form-control-sm" name="user" id="user" placeholder="insert username">
              <!--
              <div *ngIf="user.invalid && user.touched" class="alert alert-danger">Username is required
                <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.
              </div>
              -->
            </div>
          </section>

          <section class="form-group row">
            <label for="password" class="col-sm-5 col-form-label">Password</label>
            <div class="col-sm-7">
              <input
                #password="ngModel"
                [(ngModel)]="dataModel.password"
                type="password" class="form-control form-control-sm" name="password" id="password" placeholder="insert password">
              <!--
              <div *ngIf="password.invalid && password.touched" class="alert alert-danger">Username is required
                <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.
              </div>
              -->
            </div>
          </section>

          <section class="form-group row">
              <label for="userType" class="col-sm-5 col-form-label">Role</label>
              <div class="col-sm-7">
                <select
                  class="form-control form-control-sm"
                  #userType
                  name="userType"
                  (blur)="validateSelectedService(userType.value)"
                  (change)="validateSelectedService(userType.value)"
                  [(ngModel)]="dataModel.userType"
                  id="userType">
                  <option *ngFor="let accessLevel of listOfUserTypes" [value]="getValue(accessLevel.permission)">{{accessLevel.permission}}</option>
                </select>
              </div>
          </section>

          <section class="form-group row">
            <label class="col-sm col-form-label">Status</label>
            <div class="col-sm-7">
              <div class="form-check">
                <input
                  #status
                  class="form-check-input"
                  type="radio"
                  name="status"
                  [(ngModel)]="dataModel.status"
                  value="1"
                  checked>
                <label class="form-check-label">
                  Active
                </label>
              </div>
              <div class="form-check">
                <input
                  #status
                  class="form-check-input"
                  type="radio"
                  name="status"
                  [(ngModel)]="dataModel.status"
                  value="0">
                <label class="form-check-label">
                  Inactive
                </label>
              </div>
            </div>
          </section>
        </section>
      </section>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="save($event)">Save</button>
    <button type="button" class="btn btn-outline-secondary" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>
