// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

// @import "~ngx-toastr/toastr.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



/* TEMPORARY PLACEMENT TO OVERRIDE OF BOOTSTRAP STYLES
  !important used temporarily
*/
.btn-primary,
.btn-secondary {
  color: #fff !important;
  background-color: #696eb5 !important;
  border-color: #696eb5 !important;
  border-radius: unset !important;
}

.nav-tabs .nav-link {
  border-top-left-radius: inherit !important;
  border-top-right-radius: 0.25rem;
}

body {
  font-size: 0.8rem !important;
}
