<section>
  <div class="form-group">
    <!--[disabled]="addClientDetails.invalid " -->
    <a (click)="edit($event)" class="btn btn-primary btn-sm mr-2">
      <i class="fa fa-plus"></i>
      Unallocate
    </a>
    <a (click)="edit($event)" class="btn btn-secondary btn-sm mr-2">
      <i class="fa fa-plus"></i>
      Allocate
    </a>
  </div>

  <ul (click)="toggle($event)" class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="details-tab" data-toggle="tab" href="#allocated-items" role="tab" aria-controls="home" aria-selected="true">Allocated items</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#unallocated-items" role="tab" aria-controls="profile" aria-selected="false">Unallocated items</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <!-- TODO: AS SEPERATE VIEW COMPONENTS -->
    <div class="tab-pane fade show active" id="allocated-items" role="tabpanel" aria-labelledby="allocated-items-tab">
      <h5>Allocated Items</h5>
      <div>
          sfsdfsdfdsf
      </div>
    </div>

    <!-- TODO: AS SEPERATE VIEW COMPONENTS -->
    <div class="tab-pane fade" id="unallocated-items" role="tabpanel" aria-labelledby="unallocated-items-tab">
      <h5>Unallocated Items</h5>
      <div>
        asfsdffdas
      </div>
    </div>
  </div>
</section>
