<section>
  <ul (click)="toggle($event)" class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="details-tab" data-toggle="tab" href="#allocated-items" role="tab" aria-controls="home" aria-selected="true">Filter Types</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#unallocated-items" role="tab" aria-controls="profile" aria-selected="false">Manage Types</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <!-- TODO: AS SEPERATE VIEW COMPONENTS -->
    <div class="tab-pane fade show active" id="allocated-items" role="tabpanel" aria-labelledby="allocated-items-tab">
      <h5>Filter</h5>
      <form>
        <input #filter="ngModel"
               [(ngModel)]="keywords"
               class="form-control form-control-sm"
               type="text"
               name="filter"
               placeholder="Enter a keyword to filter results" />
      </form>

      <div class="btn-group mt-4">
        <!--[disabled]="addClientDetails.invalid " -->
        <a (click)="addNewItem($event)" class="btn btn-primary btn-sm mr-2">
          <i class="fa fa-plus"></i>
          New
        </a>
        <a (click)="deleteItem($event)" class="btn btn-secondary btn-sm mr-2">
          <i class="fa fa-unlock"></i>
          Enable
        </a>
        <a (click)="deleteItem($event)" class="btn btn-secondary btn-sm mr-2">
          <i class="fa fa-lock"></i>
          Disable
        </a>
      </div>
      <hr />

      <!-- TODO: SEPERATE OUT INTO A DIFFERENT COMPONENT -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="lookuptype">
          <th mat-header-cell *matHeaderCellDef> Lookup Name </th>   <!--   /admin/users/{element.user} -->
          <td mat-cell *matCellDef="let element"><a [routerLink]="['/admin/users/']">{{element.lookuptype}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>   <!--   /admin/users/{element.user} -->
          <td mat-cell *matCellDef="let element"><a [routerLink]="['/admin/users/']">{{element.description}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> Active </th>   <!--   /admin/users/{element.user} -->
          <td mat-cell *matCellDef="let element">{{element.active}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <!-- data-portal-user-id="{{element.idmcrportalcustomeruser}}" data-company-name="{{element.companyname}}" -->
          <td mat-cell *matCellDef="let element">
            <!-- {{valuesElement.actions}} -->
            <a href="" class="btn-actions mr-3"><i class="fa fa-unlock"></i></a>
            <a href="" class="btn-actions"><i class="fa fa-pencil"></i></a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <!-- TODO: AS SEPERATE VIEW COMPONENTS -->
    <div class="tab-pane fade" id="unallocated-items" role="tabpanel" aria-labelledby="unallocated-items-tab">
      <h5>Manage Types</h5>
      <form>
        <div class="form-group">
          <label class="col-form-label">Select Type</label>
          <select
            class="form-control form-control-sm mr-sm-2"
            #lookupType
            name="lookupType"
            (blur)="validateSelectedService(userType.value)"
            (change)="validateSelectedService(userType.value)"
            [(ngModel)]="aggregator.lookupType"
            id="userType">
            <option [value]="getValue(defaultUserType)" selected="selected">{{defaultUserType}}</option>
            <option *ngFor="let type of dataSource" [value]="getValue(type.lookuptype)">{{type.description}}</option>
          </select>
          <!--
          <div *ngIf="hasUserTypeSelectedError" class="col-sm alert alert-danger">User access level, is required.</div>
          -->
        </div>
      </form>

      <div class="form-group">
        <!--[disabled]="addClientDetails.invalid " -->
        <a (click)="edit($event)" class="btn btn-primary btn-sm mr-2">
          <i class="fa fa-plus"></i>
          Add Values
        </a>
        <a class="btn btn-secondary btn-sm mr-2">
          <i class="fa fa-unlock"></i>
          Enable
        </a>
        <a class="btn btn-secondary btn-sm mr-2">
          <i class="fa fa-lock"></i>
          Disable
        </a>
      </div>



      <!-- TODO: SEPERATE OUT INTO A DIFFERENT COMPONENT -->
      <!-- TODO: SEPERATE OUT INTO A DIFFERENT COMPONENT -->
      <table mat-table [dataSource]="lookUpValues" class="mat-elevation-z8">
        <ng-container matColumnDef="lookupcode">
          <th mat-header-cell *matHeaderCellDef> Lookup Values </th>   <!--   /admin/users/{valuesElement.user} -->
          <td mat-cell *matCellDef="let valuesElement"><a [routerLink]="['/admin/users/']">{{valuesElement.lookupcode}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>   <!--   /admin/users/{valuesElement.user} -->
          <td mat-cell *matCellDef="let valuesElement"><a [routerLink]="['/admin/users/']">{{valuesElement.description}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> Active </th>   <!--   /admin/users/{valuesElement.user} -->
          <td mat-cell *matCellDef="let valuesElement">{{valuesElement.active}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <!-- data-portal-user-id="{{valuesElement.idmcrportalcustomeruser}}" data-company-name="{{valuesElement.companyname}}" -->
          <td mat-cell *matCellDef="let valuesElement">
            <!-- {{valuesElement.actions}} -->
            <i class="btn-actions fa fa-unlock mr-3"></i>
            <i class="btn-actions fa fa-pencil"></i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="lookupValuesColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: lookupValuesColumns;"></tr>
      </table>
    </div>
  </div>
</section>
