#myTabContent {

  h5 {
    // font-weight: normal;
    margin: 0 0 15px 0;
    font-size: 0.8rem;
  }

  .tab-pane {
    padding: 15px;
  }
}

table {
  width: 100%;
  .btn-actions {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  i {
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #000;
  }

  tr {
    &.mat-row:hover,
    &.mat-row:active
    {
      background: #b4b7da38;
    }
  }
}
