<section>
  <!-- <h6>Manage Users (PYME/SME)</h6> -->

  <!-- TODO: PLACE INTO SHARED COMPONENT -->
  <div class="page-section">
    <h5>{{ 'ADMIN_USER.ADD_CLIENT_DETAILS' | translate }} <span *ngIf="dataModel.companyname"> : {{dataModel.companyname}}</span></h5>
  </div>

  <section class="form-inline mb-4">
    <section class="form-group">
      <button (click)="save($event)" class="btn btn-primary btn-sm mr-2"><fa name="plus"></fa> Save Client</button>
      <button (click)="saveAndAddAnother($event)" class="btn btn-primary btn-sm mr-2"><fa name="plus-circle"></fa> Save & Add Another</button>
      <button (click)="cancel($event)" class="btn btn-primary btn-sm"><fa name="trash"></fa> Cancel</button>
    </section>
  </section>

  <form #addUser="ngForm"
        name="addClientDetails"
        (submit)="submitForm($event)"
        class="col-md-12"
        novalidate>
    <h5>{{ 'ADMIN_USER.CLIENT_DETAILS' | translate }}</h5>
    <section class="row">

      <section class="col-md">
        <h6 class="form-group row">Client Information</h6>
        <section class="form-group row">
          <label for="companyname" class="col-sm-5 col-form-label">Company Name</label>
          <div class="col-sm-7">
            <input
              #companyname="ngModel"
              [(ngModel)]="dataModel.companyname"
              type="text" class="form-control" name="companyname" id="companyname" placeholder="insert company name">
            <!--
            <div *ngIf="user.invalid && user.touched" class="alert alert-danger">Username is required
              <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.
            </div>
            -->
          </div>
        </section>

        <section class="form-group row">
          <label for="addressline1" class="col-sm-5 col-form-label">Address</label>
          <div class="col-sm-7">
            <input
              #addressline1="ngModel"
              [(ngModel)]="dataModel.addressline1"
              type="text" class="form-control mb-2" name="addressline1" id="addressline1" placeholder="insert address">
            <input
              #addressline2="ngModel"
              [(ngModel)]="dataModel.addressline2"
              type="text" class="form-control mb-2" name="addressline2" id="addressline2" placeholder="">
            <input
              #addressline3="ngModel"
              [(ngModel)]="dataModel.addressline3"
              type="text" class="form-control mb-2" name="addressline3" id="addressline3" placeholder="">
            <input
              #addressline4="ngModel"
              [(ngModel)]="dataModel.addressline4"
              type="text" class="form-control mb-2" name="addressline4" id="addressline4" placeholder="">
          </div>
        </section>

        <section class="form-group row">
          <label for="province" class="col-sm-5 col-form-label">Province</label>
          <div class="col-sm-7">
            <input
              #province="ngModel"
              [(ngModel)]="dataModel.province"
              type="text" class="form-control" name="province" id="province" placeholder="insert country">
            <!--
            <div *ngIf="province.invalid && province.touched" class="alert alert-danger">Province is required.
            </div>
            -->
          </div>
        </section>

        <section class="form-group row">
          <label for="country" class="col-sm-5 col-form-label">Country</label>
          <div class="col-sm-7">
            <input
              #country="ngModel"
              [(ngModel)]="dataModel.country"
              type="text" class="form-control" name="country" id="country" placeholder="insert country">
            <!--
            <div *ngIf="country.invalid && country.touched" class="alert alert-danger">Username is required
              <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.
            </div>
            -->
          </div>
        </section>

        <section class="form-group row">
          <label for="city" class="col-sm-5 col-form-label">City</label>
          <div class="col-sm-7">
            <input
              #city="ngModel"
              [(ngModel)]="dataModel.city"
              type="text" class="form-control" name="city" id="city" placeholder="insert city">
            <!--
            <div *ngIf="user.invalid && user.touched" class="alert alert-danger">Username is required
              <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.
            </div>
            -->
          </div>
        </section>

        <section class="form-group row">
          <label for="postalcode" class="col-sm-5 col-form-label">Postal code</label>
          <div class="col-sm-7">
            <input
              #postalcode="ngModel"
              [(ngModel)]="dataModel.postalcode"
              type="text" class="form-control" name="postal-cod" id="postalcode" placeholder="insert postal code">
            <!--
            <div *ngIf="user.invalid && user.touched" class="alert alert-danger">Username is required
              <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.
            </div>
            -->
          </div>
        </section>
      </section>

      <section class="col-md">
        <h6 class="form-group row">Personal Information</h6>
        <section class="form-group row">
          <label for="fiscalnumber" class="col-sm-5 col-form-label">fiscal number / CIF</label>
          <div class="col-sm-7">
            <input
              #fiscalnumber="ngModel"
              [(ngModel)]="dataModel.jgzzfiscalcode"
              type="text" class="form-control" name="fiscalnumber" id="fiscalnumber" placeholder="Insert fiscal number">
            <!--
            <div *ngIf="user.invalid && user.touched" class="alert alert-danger">Username is required
              <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.
            </div>
            -->
          </div>
        </section>

        <section class="form-group row">
          <label for="firstname" class="col-sm-5 col-form-label">First name</label>
          <div class="col-sm-7">
            <input
              #firstname="ngModel"
              [(ngModel)]="dataModel.firstname"
              type="text" class="form-control" name="firstname" id="firstname" placeholder="Insert name">
            <!--
            <div *ngIf="user.invalid && user.touched" class="alert alert-danger">Username is required
              <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.
            </div>
            -->
          </div>
        </section>

        <section class="form-group row">
          <label for="lastname" class="col-sm-5 col-form-label">Last name</label>
          <div class="col-sm-7">
            <input
              #lastname="ngModel"
              [(ngModel)]="dataModel.lastname"
              type="text" class="form-control" name="lastname" id="lastname" placeholder="Insert surname">
            <!--
            <div *ngIf="user.invalid && user.touched" class="alert alert-danger">Username is required
              <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.
            </div>
            -->
          </div>
        </section>

        <section class="form-group row">
          <label for="email" class="col-sm-5 col-form-label">Email</label>
          <div class="col-sm-7">
            <input
              #email="ngModel"
              [(ngModel)]="dataModel.email"
              type="text" class="form-control" name="email" id="email" placeholder="Insert email">
            <!--
            <div *ngIf="user.invalid && user.touched" class="alert alert-danger">Username is required
              <span class="example-text">(allowed characters: lowercase letter, uppercase letters & characters #@-_)</span>.
            </div>
            -->
          </div>
        </section>

        <section class="form-group row">
          <label for="comments" class="col-sm-5 col-form-label">Comments</label>
          <div class="col-sm-7">
            <textarea #comments="ngModel"
                      class="form-control"
                      rows="7"
                      minlength="25"
                      name="comments"
                      id="comments"
                      pattern="[a-zA-Z ]*"
                      [(ngModel)]="dataModel.comment"
                      required></textarea>
            <!--
            <div *ngIf="comments.invalid && comments.touched" class="alert alert-danger">Comments are required.
            </div>
            -->
          </div>
        </section>
      </section>
    </section>
  </form>

</section>
