.tab-pane {
  padding-top: 25px;
  h5 {
    margin-bottom: 25px;
  }
}

.page-section {
  h5 {
    margin-bottom: 25px;
  }
}

h5 {
  margin-bottom: 25px;
}

h6 {
 &.row {
   margin-left: 0;
   margin-right: 0;
 }
}

.HIDDEN-DURING-DEV {
  display: none;
}

