<section>
  <!-- <h6>Manage Users (PYME/SME)</h6> -->
  <form #addUser="ngForm"
          name="addClientDetails"
          (submit)="submitForm($event)"
          class="col-md-12"
          novalidate>
      <div>
        <h5>{{ 'ADMIN_USER.ADD_CLIENT_DETAILS' | translate }}</h5>
      </div>

    <section class="row">

        <section class="col-md">
          <h6 class="form-group row">Client Information</h6>

          <section *ngIf="adminRole">
            <section class="form-group row">
              <div for="text1" class="col-sm-5 col-form-label">Username</div>
              <div for="text1" class="col-sm-7">clientname@client-organisation.com</div>
            </section>

            <section class="form-group row">
              <div for="text1" class="col-sm-5 col-form-label">Password</div>
              <div for="text1" class="col-sm-7">****************</div>
            </section>
          </section>


          <section class="form-group row">
            <label for="text1" class="col-sm-5 col-form-label">Text 1</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="text1" placeholder="text">
            </div>
          </section>

          <section class="form-group row">
            <label for="text2" class="col-sm-5 col-form-label">Text 2</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="text2" placeholder="text">
            </div>
          </section>

          <section class="form-group row">
            <label for="text2" class="col-sm-5 col-form-label">Text 2</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="text2" placeholder="text">
            </div>
          </section>

          <section class="form-group row">
            <label for="text2" class="col-sm-5 col-form-label">Text 2</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="text2" placeholder="text">
            </div>
          </section>
        </section>

      <section class="col-md">
        <h6 class="form-group row">Subtitle / subtitulo 2</h6>
        <section class="form-group row">
          <label for="text1" class="col-sm-5 col-form-label">Text 1</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="text1" placeholder="text">
          </div>
        </section>

        <section class="form-group row">
          <label for="text2" class="col-sm-5 col-form-label">Text 2</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="text2" placeholder="text">
          </div>
        </section>
      </section>
    </section>

    <section class="row">

      <section class="col-md">
        <h6 class="form-group row">Subtitle / subtitulo 2</h6>
        <section class="form-group row">
          <label for="text1" class="col-sm-5 col-form-label">Text 1</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="text1" placeholder="text">
          </div>
        </section>

        <section class="form-group row">
          <label for="text2" class="col-sm-5 col-form-label">Text 2</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="text2" placeholder="text">
          </div>
        </section>
      </section>

      <section class="col-md">
        <h6 class="form-group row">Account Information</h6>
        <section class="form-group row">
          <label for="text1" class="col-sm-5 col-form-label">Text 1</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="text1" placeholder="text">
          </div>
        </section>

        <section class="form-group row">
          <label for="text2" class="col-sm-5 col-form-label">Text 2</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="text2" placeholder="text">
          </div>
        </section>
      </section>
    </section>
      <footer class="form-group">
        <!--[disabled]="addClientDetails.invalid " -->
        <button (click)="save($event)" class="btn btn-outline-primary mr-2">Save</button>
        <button (click)="edit($event)" class="btn btn-outline-secondary mr-2">Edit</button>
        <button (click)="cancel($event)" class="btn btn-outline-warning">Cancel</button>
      </footer>

    </form>

</section>
